.margin-button{
    margin-top: 11%;
}
.nav-bar{
    background:black;
}
.jealogo{
    width:6%;
    margin-left:10%;
    margin-top: 2%;
    color:white;
}
.header-color{
    background-color: dodgerblue
}
