<header>
    <div class="row nav-bar">
        <div class="col-md-8">

            <div class="row">
                <div class="col-md-9">
                    
                        <img class="jealogo" src="assets/logo.png" style="float: left;margin: 10px 15px 15px 15px;" />
                        <h2 style="color: white;margin-top: 2%">EnergyChain - Jea Digital Info Systems</h2>
                    
                </div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>
</header>
<div class="row">
    <div class="col-md-12 col-sm-12 ">
    </div>
</div>
<div class="container" >
    <div class="row">
        <!--Resident-->
        <div class="col-md-4 ">
            <div class="card  margin">
                <img class="icon" (click)="goToResident()" src="assets/icon1.ico" />
                <h4>Residents own three assets: Energy, Coins and Cash.</h4>
            </div>
        </div>
        <!--Bank-->
        <div class="col-md-4 col-sm-4 ">
            <div class="card  margin">
                <img class="icon" (click)="goToBank()" src="assets/icon2.ico" />
                <h4>
                    Banks on the network own a single asset: Cash.
                </h4>
            </div>
        </div>
        <!--Utility Companies-->
        <div class="col-md-4 col-sm-4 ">
            <div class="card  margin">
                <img class="icon" (click)=" goToUtilityCompany()" src="assets/icon3.ico" />
                <h4>Utility Companies own two assets: Energy and Coins.
                </h4>
            </div>
        </div>
    </div>


</div>