.table_margin{
        margin-top: 2%;
}
.back-button{
    width: 23%;
    margin-top: 50%;
}
.jealogo{
    width:6%;
    margin-left:10%;
    margin-top: 2%;
    color:white;
    
}
.nav-bar{
    background:black;
}
